#now_playing{
  float: left;
}

#track, #album, #artist{
  font-family: verdana, helvetica, sans-serif;
  float: left;
}
.label{
  clear: left;
  float: left;
  width: 80px;
  margin-left: 0.5em;
}

.bar{
  background-color: #00ff00;
  height: 10px;
  margin-top: -12px;
  float: left;
  display: block;
  min-width: 10px;
}

#album_image {
  float: left;
  padding-right: 0;
}

#album_info_header {
  float: left;      
  margin-top: 2em;
  margin-right: 2em;
  font-size: 15px;
}

#album_track_listing{
  clear: both;
  font-size: 12px;
  width: 400px;
}

#similar_artists {
  font-size: 12px;
  float: left;
}

#top_albums{
  font-size: 12px;
  float: left;
}

.container {
  margin: 1em;
  padding: 1em;
  border: 2px solid black;   
}


