#now_playing{
  padding-left: 2em;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #aaaaaa;
}

#now_playing h1 {
  float: left;
}

.now_playing_body {
  float: left;
  padding-left: 2em;
}

.now_playing_body .track{
  font-family: verdana, helvetica, sans-serif;
  font-size: 22pt;
}

.now_playing_body .artist, .now_playing_body .by{
 font-family: verdana, helvetica, sans-serif;
 font-size: 18pt;
}

.now_playing_body .album_title{
 font-family: verdana, helvetica, sans-serif;
 font-size: 14pt;
}

.now_playing_body .album{
  font-family: verdana, helvetica, sans-serif;
  font-size: 16pt;
}

.label{
  clear: left;
  float: left;
  width: 80px;
  margin-left: 0.5em;
}

.bar{
  background-color: #00ff00;
  height: 10px;
  margin-top: -12px;
  float: left;
  display: block;
  min-width: 10px;
}

#username_input{
  padding-left: 20px;
  background-color: #cccccc;
  padding-bottom: 5px;
  padding-top: 5px;
}
#username_input label 
{
  margin-right: 1em;
  font-family: verdana, helvetica, sans;
}
      
#album_image {
  float: left;
  padding-right: 0;
}

#album_info_header {
  float: left;      
  margin-top: 2em;
  margin-right: 2em;
  font-size: 15px;
}

#album_track_listing{
  clear: both;
  font-size: 12px;
  width: 400px;
}

#similar_artists {
  font-size: 12px;
  float: left;
  width: 35%;
  margin-left: 5%;
  margin-right: 5%;
}

#top_albums{
  font-size: 12px;
  float: left;
  width: 35%;
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  margin: 1em;
  padding: 1em;
  border: 2px solid black;   
}


#artist_info{
  width: 40%;
  float: left;  
}

#album_info{
  width: 40%;
  float: left;  
}

#album_info .album_image{
  float: left;
  vertical-align: center;
}

#album_info .track_listing{
  margin-left: 20px;
  float: left;
  vertical-align: center;

}
